node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml
coverage
.nyc_output
.vscode
.idea
.DS_Store
.env
.env.*

# Tests and test artifacts
lib/**/*.test.js
vitest.config.* 
assets/

# Git and CI
.git
.github

# Linting and formatting
.eslintrc.js
.eslintignore
.prettierrc
.prettierignore
vitest.config.mjs
coverage/